<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Температура газа в трубе.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2268294B1C2678E200AAF53D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2268295F1C2678E300AAF53D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2268296A1C2678E300AAF53D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
